name: Build Docker Image, Integration To Docker Hub and Deploy To Heroku

on:
  push: 
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.6
    - name: Test
      run: go test -v ./...
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_HUB_USERNAME }} 
        DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}  
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    
    - name: docker build golang
      run: |
        docker build . -t satriowicaksono/alta-store-project:1.0.0
    - name: docker push
      run: |
        docker push satriowicaksono/alta-store-project:1.0.0
    - name: Build, Push and Release a Docker container to Heroku.
      uses: gonuit/heroku-docker-deploy@v1.3.3
      with: 
        email: ${{ secrets.HEROKU_EMAIL }}
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
        dockerfile_directory: ./
        dockerfile_name: Dockerfile
        docker_options: "--no-cache"
        process_type: web
